@media (max-width: 600px) {
  #logo {
    box-sizing: content-box;
    width: 50%;
    height: auto;
    margin-left: 25%;
  }

  #buttons {
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  #buttons > * {
    height: 60px;
    background-color: #3e82ff;
  }

  #buttons > *:hover {
    background-color: rgba(167, 190, 255, 1);
  }
}
body {
  background-color: rgba(244, 244, 244, 1);
  overflow-x:hidden;
}

h4 {
  font-size: 1.2em;

}

nav {
  margin-bottom: 30px;
}


#logo {
  box-sizing: border-box;
  padding: 5px;
  height: 100px;
  width: auto;
}

#userImage {
  /*background-color: #3e82ff;*/
  background-image: url("http://24.media.tumblr.com/tumblr_lnpkwzi76B1qlzxejo1_250.gif") ;
  background-position: center;
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 20px;
}

.searchBtn {
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  background-color: #3e82ff;
}

.searchBtn > * {
  color: #434345;
  padding-bottom: 5px;
}

.driverName{
  padding-top: 15px;
  padding-left: 15px;
  font-weight: bold;
}

.keep {
  position: relative;
  top: 10px;
}

.userPanel {
  margin-top: 5px;
}

.userPanel > * {
  display: inline-block;
  float: right;
}

.userPanel :last-child:after {
  clear: both;
}

.userName {
  margin-top: 30px;
  margin-right: 15px;
}

.userName > * {
  margin-bottom: 0;
}

.userName > small {
  float: right;
}


