
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      
      <!---->
    <!--Tu komponent uzytkownika i szczegoly trasy-->
    <!--</div>-->
  <!--</div>-->
  <div class="card">
  
      <sebm-google-map [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
      </sebm-google-map>

  <div class="card-block">
          <div class="col-sm-3" id="userImage">
            
          </div>
          <div class="userName">
            <h4>Imię Nazwisko</h4>
          </div>
    
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
