
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      
      <!---->
    <!--Tu komponent uzytkownika i szczegoly trasy-->
    <!--</div>-->
  <!--</div>-->
  <div class="card col-md-6">
  
      <sebm-google-map [latitude]="50.261665" [longitude]="19.021583" [zoom]="9" >
            <sebm-google-map-marker [latitude]="50.261665" [longitude]="19.021583"></sebm-google-map-marker>
            <sebm-google-map-marker [latitude]="50.290806" [longitude]="18.704975"></sebm-google-map-marker>
      </sebm-google-map>

  <div class="card-block">
          <div class="col-sm-3" id="userImage">
            
          </div>
          <div class="userName">
            <p>Imię Nazwisko</p>
            
  </div>

  <div class="card-block">
          
            <p>Katowice al. Korfantego 2 => Biuro Gliwice Sośnica</p>
            <h4>Czas przyjazdu</h4>
            <p>pon 2016/10/07 8:30</p>
            <h4>Punkty pośrednie</h4>
            <ul>
                <li>Ruda Śląska Opolska 14</li>
                <li>Gliwice Częstochowska 21</li>
            </ul>
          </div>
    <a href="#" class="btn btn-primary">Kontakt</a>
    <a href="#" class="btn btn-primary">Shotgun</a>
  </div>
</div>
