
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->

      <!---->
    <!--Tu komponent uzytkownika i szczegoly trasy-->
    <!--</div>-->
  <!--</div>-->
  <div class="card col-md-6">
  
      <sebm-google-map [latitude]="(srcLat + dstLat) / 2" [longitude]="(srcLng + dstLng) / 2" [zoom]="10" >
            <sebm-google-map-marker [latitude]="srcLat" [longitude]="srcLng"></sebm-google-map-marker>
            <sebm-google-map-marker [latitude]="dstLat" [longitude]="dstLng"></sebm-google-map-marker>
      </sebm-google-map>
<div class="card-block">
    
    <div class="row">
        <div class="col-sm-3" id="driverImage">
        </div>
        <div class="col-sm-3 driverInfo" >
            {{driverName}}
        </div>
    </div>
    <div class="row">
            {{weekDay}} <strong>{{date}}</strong>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <h4>
            {{startAddress}}
            </h4>
            <p>
            {{srcTime}}
            </p>
        </div>
        <div class="col-sm-2">
            <div class="arrow">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-sm-5">
            <h4>
            {{destAddress}}
            </h4>
            <p>
            {{dstTime}}
            </p>
        </div>
    </div>

    <a href="#" class="btn btn-primary">Kontakt</a>
    <a href="#" class="btn btn-primary">Shotgun</a>
  </div>
</div>
